{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
	<div class="pure-u-11-12 pure-u-md-7-12">
	<div class="post-content">
	{{ .Content }}
	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
		{{ range $name, $page := .Site.RegularPages }}
        {{ if and (eq .Type "posts") (not (.Params.Preview)) }}
		<li>
		  {{ if .Draft }}
		  DRAFT: 
		  {{ end }}
		  <a class="post-list" href="{{ .Permalink }}">{{ $page.Title }}</a>

      <p class="footnote">
        <i class="fas fa-calendar" title="Published date"></i>
        <time datetime="{{ $page.Date }}">
          {{ if .Site.Params.dateformatpretty }}
            {{ $page.Date.Format .Site.Params.dateformatpretty }}
          {{ else }}
            {{ $page.Date.Format "2006-01-02" }}
          {{ end }}
        </time>
        |
        <i class="fas fa-stopwatch" title="Reading time"></i> {{ $page.ReadingTime }} min read

        {{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
        |
        {{ end }}

        {{ with $page.Params.tags }}
        <i class="fa fa-tags" title="Tags"></i> {{ range $index, $tag := $page.Params.tags }}{{ if $index }}, {{ end }}<a href="{{ $baseurl }}tags/{{ $tag | urlize }}">#{{ $tag }}</a>{{ end }}
        {{ end }}

        {{ with $page.Params.categories }}
        categories: [ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
        {{ end }}

        {{ with $page.Params.series }}
        series: [ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
        {{ end }}

      </p>
		  {{ if .Summary }}
		  <p class="post-summary">{{ .Summary }}</p>
		  {{ end }}
    </li>
    {{ end }}
    {{ end }}
    </ul>
  </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>

{{ partial "footer.html" . }}
